+ server/config/google-drive-credentials.json
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
.env.local
.env.production
node_modules
# Ignore environment variables
.env

# Ignore Google credentials file
server/config/google-drive-credentials.json